@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;800;900&display=swap");

$font-color: #ffffff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.floating-desktop {
  display: block;
  position: fixed;
  top: 40%;
  left: 1%;
  z-index: 999;
  width: 40px;
  border-radius: 2rem;
  background: white;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.floating-mobile {
  display: none;
}

.svg-social {
  cursor: pointer;
  width: 100%;
  padding: 5px;
  transition: 0.3s ease all;

  &:hover {
    transform: scale(1.15);
  }
}

.s1 {
  background-image: linear-gradient(to right bottom,
      #6c42b1,
      #6854bd,
      #6665c7,
      #6675d0,
      #6884d7,
      #778fda,
      #859ade,
      #93a5e1,
      #a9b1e3,
      #bcbde5,
      #cccae7,
      #dbd8e9);

  form {
    #btn {
      position: absolute;
      bottom: 20%;
      right: 15%;
      padding: 10px 25px;
      border: none;
      cursor: pointer;
      border-radius: 2rem;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
      font-weight: 800;
      transition: 0.3s all ease;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .intro-div {
    margin: 0 auto;
    display: flex;
    padding: 20px;
    width: 70%;

    #profile-image {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      border: white 4px solid;
      object-fit: cover;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 20px;
      padding: 65px;

      #typing-desktop {
        font-size: 40px;
        color: $font-color;
        font-weight: 300;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 45px;
          border-right: 3px solid $font-color;
          animation: blink 0.6s infinite ease;
        }
      }

      #typing-mobile {
        display: none;
      }

      #intro {
        color: $font-color;
        font-size: 30px;
        font-weight: 100;
        text-align: flex-end;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.s2,
.s3 {
  background-image: linear-gradient(to right bottom,
      #008f7a,
      #1e9a86,
      #31a592,
      #40b19f,
      #4ebcab,
      #5dc4b4,
      #6bcbbd,
      #79d3c6,
      #8ad9cd,
      #9bded4,
      #aae4db,
      #bae9e2);

  h1 {
    font-size: 50px;
    color: $font-color;
    font-weight: 300;
    text-align: center;
  }

  .timeline,
  .timeline1 {
    position: relative;
    margin: 30px auto;
    width: 1000px;
    padding: 10px 0;

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      width: 2px;
      height: 3000%;
      background: white;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        line-height: normal;
        position: relative;
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
        list-style: none;

        &:nth-child(odd) {
          float: left;
          align-items: right;
          text-align: right;
          clear: both;

          &::before {
            content: "";
            position: absolute;
            top: 40px;
            right: -6px;
            width: 10px;
            height: 10px;
            background: white;
            border-radius: 50%;
            box-shadow: 0 0 0 3px white;
          }

          .time {
            position: absolute;
            top: 32px;
            right: -200px;
            margin: 0;
            padding: 8px 20px;
            background: white;
            border-radius: 1rem;

            h4 {
              font-size: 10px;
              font-weight: 800;
            }
          }
        }

        &:nth-child(even) {
          float: right;
          position: relative;
          text-align: left;
          clear: both;

          &::before {
            content: "";
            position: absolute;
            top: 40px;
            left: -4px;
            width: 10px;
            height: 10px;
            background: white;
            border-radius: 50%;
            box-shadow: 0 0 0 3px white;
          }

          .time {
            position: absolute;
            top: 32px;
            left: -165px;
            margin: 0;
            padding: 8px 20px;
            background: white;
            border-radius: 1rem;

            h4 {
              font-size: 10px;
              font-weight: 800;
            }
          }
        }

        .content {
          background: white;
          padding: 10px;
          width: 50%;
          height: 120px;

          .arrow-left {
            display: none;
          }

          .content-div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
          }

          &:nth-child(odd) {
            position: relative;
            left: 200px;
          }

          // &:nth-child(even) {
          //     position: relative;
          //     right: 200px;
          // }

          h2 {
            font-size: 18px;
          }

          p {
            font-size: 12px;
            font-weight: 300;
          }

          .tech {
            color: white;
            background: #008f7a;
            padding: 3px 7px;
            display: inline-block;
            font-size: 10px;
            font-weight: 300;
            border-radius: 1rem;
          }

          .s3tech {
            background: #c34a36;
          }
        }
      }
    }
  }
}

.s3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right bottom,
      #c34a36,
      #ca5440,
      #d05e4b,
      #d76855,
      #dd7260,
      #e17b6a,
      #e48574,
      #e78e7e,
      #e8998a,
      #e8a397,
      #e8aea3,
      #e7b8b0);

  .timeline1 {
    padding: 0;
    height: 100%;

    ul {
      li {
        &:first-child {
          &::before {
            top: 100px;
            right: -6px;
            width: 10px;
            height: 10px;
          }

          .time {
            top: 90px;
          }

          .content1 {
            margin-top: 70px;
          }
        }
      }
    }
  }
}

.project-image {
  width: 100%;
  display: none;
}

.s4 {
  background-image: linear-gradient(to right bottom,
      #ae5d00,
      #b16512,
      #b46c1f,
      #b6742b,
      #b97b36,
      #bd8443,
      #c28c51,
      #c6955e,
      #cda272,
      #d4ae86,
      #dabb9a,
      #e0c8af);

  h1 {
    font-size: 50px;
    color: $font-color;
    font-weight: 300;
    text-align: center;
  }

  .skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    margin-top: 20px;
    width: 500px;

    .skill {
      transition: 0.3s all;
      width: 150px;
      height: 150px;


      img {
        width: 100%;
        object-fit: fit;
      }

      .mask {
        position: relative;
        top: -103%;
        width: 100%;
        height: 100%;
        color: white;
        background: #e04242;
        box-shadow: 1px 1px 1px 1px #e04242;
        opacity: 0;
        transition: 0.3s all ease;

        h3 {
          //margin-top: 20px;
          font-weight: 300;
          font-size: 1.2rem;
          position: relative;
          float: left;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:hover {
        .mask {
          opacity: 0.85;

          h3 {
            opacity: 1;
          }
        }
      }
    }

    #html-logo {
      width: 150px;
      height: 150px;
      background: #f5966d;
    }

    #mongo-logo {
      width: 150px;
      height: 150px;
      background: #c1bebc;

      .mask {
        top: -87%;
      }
    }

    #css-image {
      width: 150px;
      height: 150px;
      background: blue;
    }
  }
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }

  0% {
    transform: scale(1);
  }
}

@media (min-width: 360px) and (max-width: 700px) {
  .floating-desktop {
    display: none;
  }

  .floating-mobile {
    display: block;
    position: fixed;
    bottom: 2%;
    right: 5%;
    z-index: 999;
    width: 50px;
    // a {
    //   background: white;
    //   border-radius: 50%;
    // }
  }

  #social-container {
    display: none;
  }

  #social {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 50%;
    margin: 0;
    animation: zoom 1.5s infinite ease;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .svg-social {
    width: 100%;
    background: white;
    border-radius: 1rem;
    outline: none;
    padding: 10px;
    border: 0;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }

  .s1 {

    form {
      #btn {
        bottom: 15%;
        right: 10%;
        font-size: 0.7rem;
        padding: 5px 15px;
      }
    }

    .intro-div {
      display: flex;
      flex-direction: column;

      #profile-image {
        position: relative;
        top: -70px;
        width: 200px;
        height: 200px;
        align-self: center;
      }

      div {
        margin: 0;
        margin-top: 10px;
        padding: 0;

        #typing-desktop {
          display: none;
        }

        #typing-mobile {
          display: block;
          font-size: 30px;
          color: $font-color;
          font-weight: 300;

          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 30px;
            border-right: 3px solid $font-color;
            animation: blink 0.7s infinite ease;
          }
        }

        #intro {
          padding-top: 10px;
          text-align: left;
        }
      }
    }
  }


  .s2,
  .s3 {
    h1 {
      font-size: 30px;

      margin-top: -100px;
      padding: 0;
    }

    .timeline,
    .timeline1 {
      margin: 0;
      width: 80%;
      padding: 20px;

      &::before {
        left: 10%;
        height: 90vh;
      }

      ul {
        li {
          width: 200%;
          padding: 20px;

          .content {
            .arrow-left {
              display: block;
              position: absolute;
              top: 5%;
              left: -7%;
              height: 0;
              border-top: 10px solid transparent;
              border-bottom: 10px solid transparent;
              border-right: 10px solid white;
            }
          }

          &:nth-child(odd) {
            float: left;
            position: relative;
            left: -150px;
            top: 40px;
            padding: 40px 0;

            &::before {
              display: none;
            }

            .time {
              position: absolute;
              top: 170px;
              right: 40px;
            }
          }

          &:nth-child(even) {
            float: left;
            text-align: right;
            position: relative;
            left: -150px;
            top: 40px;
            padding: 40px 0;

            &::before {
              display: none;
            }

            .time {
              position: absolute;
              top: 170px;
              left: 370px;
            }
          }
        }
      }
    }
  }

  .s3 {
    .timeline1 {
      margin: 0;
      height: 100vh;
      padding: 0 20px;

      &::before {
        height: 80vh;
      }

      ul {
        li {
          &:nth-child(odd) {
            .content1 {
              margin-top: 0px;
            }
          }

          &:nth-child(even) {
            margin-top: 0px;

            .time {
              left: 75%;
              right: 8%;
            }
          }
        }
      }
    }
  }

  .s4 {
    h1 {
      font-size: 30px;
    }

    .skills-container {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      width: 50%;
      margin: 0 auto;
      margin-top: 50px;

      .skill {
        width: 100px;
        height: 100px;

        img {
          width: 100%;
        }

        .mask {
          display: none;
        }
      }

      #html-logo,
      #mongo-logo {
        width: 100px;
        height: 100px;
      }
    }
  }
}